body{
  /*background: url(http://blog.infotanka.ru/pictures/WoT-graph-hover-44@2x.png);*/
  font-family: "Helvetica neue", sans-serif;
  font-size: 17px;
  margin: 0/* auto*/;
  padding: 0;
  /*position: relative;*/
  width: 1399px;
}
h1{
  font-size: 2.5em;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
}

/* UI */
.filter-panel{
  padding-left: 40px;
  margin-bottom: 54px;
}
.buttonset{
  display: inline-block;
  margin-right: 16px;
  /*height: 29px;*/
}
#buttonset-country .flag{
  width: 20px;
  height: 12px;
  margin-right: 6px;
}
#buttonset-level{
  float: right;
  margin-right: 0px;
}
.ui-button-text-only .ui-button-text{
  /*height: 29px;*/
  padding: 3px 10px 3px;
  font-size: 0.9em;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -2px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 2px solid #d3d3d3;
	background: #fff;
	font-weight: normal;
	color: #000;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 2px solid #e0cd9e;
	background: #fcdb8b;
	font-weight: normal;
	color: #000;
}
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}

/* axis */
.domain {
  display: none;
}
.axis .tick text{
  /*font-size: 0.95em;*/
}
.x.axis .tick text{
  -webkit-transform: translate(0px,6px);
}
.y.axis .tick text{
  -webkit-transform: translate(-3px,0px);
}
.label {
  position: absolute;
  background: white;
  padding: 5px 10px;
  margin: -5px;
  border: 2px #ccc solid;
}
.label.x {
  top: 1011px;
  left: 1185px;
  width: 196px;
}
.label.y {
  top: 151px;
  left: 46px;
}
#graph-border{
  fill: none;
  stroke: #ccc;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}


/* tanks */

svg .tank .extra{
  transform: translate(345px,170px) scale(1.66);
  pointer-events: none;
}
svg .tank .extra image{
  width: 16px;
  height: 11px;
}
svg .tank .extra text{
  font-size: 0.8em;
  transform: translate(28px,11px);
}

/* details */

.details{
  border: 2px #ccc solid;
  display: none;
  position: absolute;
  top: 201px;
  left: 55px;
  background: white;
  width: 387px;
  /*opacity: 0.6;*/
}
.details.left{
  left: 997px;
}
.details h2{
  margin: 13px 0 0 16px;
  font-size: 1.65em;
}
.details table{
  margin: 14px 12px 12px 13px;
  font-size: 0.8em;
  line-height: 1.15em;
}
.details table b{
  display: block;
  margin-top: 10px;
}
.details .image-placeholder{
  position: absolute;
  /*right: 35px;*/
  right: 25px;
  top: 65px;
  width: 150px;
  height: 160px;
  background: silver;
}
